---
import ProjectItem from "$/components/ProjectItem.astro";

import { getCollection } from "astro:content";

const projects =
  (await getCollection("projects"))
    .sort((a, b) => a.data.order - b.data.order);
---

<section id="personal-projects" class="pt-10 lg:pt-16">
  <h2 class="font-header text-mist mb-2 text-lg font-medium">Personal projects</h2>
  <p>None of these were generated with AI.</p>
  <p>
    I don't hate the technology (I use it extensively professionally),
    but my personal projects are about learning, creative expression, and showcasing my skills.
  </p>
  <ol class="group/projects mt-4 flex flex-col">
    {
      projects.map((project) => (
        <li>
          <ProjectItem
            id={project.data.id}
            title={project.data.title}
            icon={project.data.icon}
            techs={project.data.tags}
            theme={project.data.theme}
            summary={project.data.summary}/>
        </li>
      ))
    }
  </ol>
</section>
